<div class="user-details">
  <h1> Projects and Previous Experiences </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Ethicon Logo" src="{{ "/assets/img/Ethicon_tag_V_RGB.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Quality Engineering Co-op</h3>
    <ul>
      <li>August 2019 - December 2019</li>
      <li>Performed testing, verification, and validation supporting new product development of surgical devices.</li>
      <li>Contributed to the FMEA of the electronic communication system of the surgical tools.</li>
      <li>Conducted clinical testing of instruments and led failure mode evaluations.</li>
    </ul>
    <p>Ethicon Endo-Surgery, a subsidiary of Johnson & Johnson, focuses on shaping the future of surgery. Ethicon is partnered with Verb Surgical (from Google Life SCiences) in developing a surgical robotics platform.</p>
    <a class="project-link" href="https://www.newyorker.com/magazine/2019/09/30/paging-dr-robot">Read about Surgical Robotics here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="GHC logo" src="{{ "/assets/img/IMG_2451.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>STEP: Grace Hopper Celebration</h3>
    <ul>
      <li>October 2019</li>
      <li>GHC is the world's largest gathering of women in technology in the world.</li>
      <li>Participated in a wide array of activities, from learning about Internet of Things in healthcare, to neuromorphic computing and touching a quantum computer.</li>
      <li>Honed networking skills, gained self confidence, learned about working in STEM as a woman. </li>
      <li><a href="assets/STEPposter.pdf" class="image fit">Click here</a> to view my poster presentation about the project.</li>
    </ul>
    <p>The Second-year Transformational Experience Program at Ohio State allows second years students to focus on student success 
      allows them the opportunity to engage in activities of their individual interests. The program allows eligible students to receive a fellowship allowing them to pursue projects not otherwise possible.</p>
    <a class="project-link" href="https://u.osu.edu/stepleadership19/2019/10/22/25000-women-in-tech-and-me/">Read about my experience on the STEP at Ohio State blog here</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Osteoengineering" src="{{ "/assets/img/osteoengineering.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Osteoengineering Lab </h3>
    <ul>
      <li>September 2017 - April 2019</li>
      <li>Presented at the Fall Undergraduate Fall Research Festival on the study of Computational Fluid Dynamic Modeling and fabrication of a bioreactor for tissue engineering scaffolds.</li>
      <li><a href="assets/LEPResearchPoster.pdf" class="image fit">Click here</a> to view my research poster.</li>
      <li>Received the Undergradaute Research Apprenticeship Program grant for Summer 2018</li>
    </ul>
    <p>The Osteo Engineering Lab in the Department of Plastic Surgery in Ohio State's College of Medicine researches additive manufacturing of biodegradable material for the reconstruction or regeneration of cranioskeletal structures.</p>
    <a class="project-link" href="www.osteoengineering.com">Check out the lab</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Robotics" src="{{ "/assets/img/FEHRobot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Honors Robotics Project </h3>
    <ul>
      <li>January 2018 - April 2018</li>
      <li>Collaborated with three team members to created an autonomous robot completing a standardized course in under 90 seconds.</li>
      <li>Led project management and electrical systems of the robot.</li>
      <li>View part of the final report with my contributions <a href="assets/ENGRreport.pdf" class="image fit">here.</a></li>
    </ul>
    <p>250 students in Ohio State's engineering program are selected to participate in this special course as a part of the engineering honors program. </p>
    <a class="project-link" href="https://eed.osu.edu/robot-competition">Read about the program here</a>
  </div>
</div>
